<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>
<style>

body{
    background:#000;
    color:white;
    font-family:sans-serif;
    font-size:20px;
}

.header{
    font-size:26px;
    font-weight:bold;
    padding:25px;
}

.item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 25px;
    font-size:20px;
    color:white;
    text-decoration:none;
    border-bottom:1px solid #222;
}

.arrow{
    font-size:26px;
    color:white;
}



.menu{
    padding:10px 0;
}



</style>
</head>
<body>

<div class="header">
    <a href="/settings" class="back">←</a>
    <span>Account</span>
</div>

<div class="menu">

    <a class="item" href="/forgot_password">
        <span> Forgot Password</span>
        <span class="arrow">›</span>
    </a>

    <a class="item" href="/change_email">
        <span> Change Email</span>
        <span class="arrow">›</span>
    </a>

    <a class="item" href="/change_mobile">
        <span> Change Mobile Number</span>
        <span class="arrow">›</span>
    </a>

    <a class="item" href="/privacy">
        <span>Privacy</span>
        <span class="arrow">›</span>
    </a>


    <a class="item" href="/account_info">
        <span>Account Info</span>
        <span class="arrow">›</span>
    </a>

    <a class="item danger" href="/delete_account">
        <span> Delete Account</span>
        <span class="arrow">›</span>
    </a>

    <a class="item danger" href="/logout">
        <span> Logout</span>
        <span class="arrow">›</span>
    </a>

</div>


  <script>
    
  </script>
  
</body>
</html>

